$primary: #e75336; // changement de la couleur primaire pour être en accord avec la charte graphique

@media  (max-width: 991px) {
  #navbarSupportedContent{
    background-color: #ffffff;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #x-grey-background{
    height: 277px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #x-grey-background{
    height: 331px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #x-grey-background{
    height: 313px;
  }
}
@media (max-width:991px){
  #btn-test{
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}
@media (max-width:991px){
  canvas{
    display: none!important;
  }
}
body{
  overflow: hidden;
}
.w-80{
  width: 80%;
}
h1 {
  font-size: 39.1px !important;
}
.font-weight-bold {
  font-weight: bold;
}
.nav-item {
  margin-right: 20px;;
}

.btn {
  color: #ffffff !important;
  border-radius: 30px !important;
  padding: 9.5px 20px !important;
  height: 44px;
}
#contact-link {
  margin-right: 24px; //obligatoire pour avoir une animation qui ne sors pas du inline
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
#header {
  height: 114px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  z-index: 10;
  position: relative;
}
.header-link {
  position: relative;
}
.underline {
  display: block;
  position: absolute; // à supprimer pour avoir l'animation qui reverse sur le mouseleave
  margin-top: 8px;
  bottom: 0;
  left: 0;
  left: 0;
  height: 2px !important;
  width: 0;
  background-color: #e75336;
}
.active .underline {
  display: block;
  width: 100% !important;
  position: static;
}
#header {
  background-color: rgba(255, 255, 255, 0.1);
}
#home {
  margin-top: 76px;
}
#scene {
  height: 100%;
  overflow: hidden;
}
.computer {
  height: 100%;
  // display: none; // a enlever IMPORTANT
}
.x-grey{
  background-color: rgba(237, 237, 237, 0.1)!important;
  border-color:rgba(0, 0, 0, 1);
  box-shadow:inset 0px 1px 20px 10px rgba(215, 215, 215, 0.25);
}
.computer-screen {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
    background-color: #D3D3D3;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    padding: 25px;
}
#rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}
#dust {
  scale:0;
}
#dust,
#dust * {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
}
#rocket-dust {
  z-index: 3;
}
#reactor-dust{
  z-index: 3;
}
#earth-dust {
  z-index: 2;
}
.computer-tab {
  width: 100%;
  height: 30px;
  background-color: #D3D3D3;
  border-radius: 0 0 30px 30px;
  z-index: 4;
  position: absolute;
}
.x-background {
  width: 100%;
  height: 100%;
  display: flex;
  scale: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}
#x-grey-background{
  position: absolute;
  left: 0;
}
.x{
  height: 50%;
  width: 200vw;
  background-color: rgba(250, 181, 162);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  
}
.test{
  overflow: hidden;
}
#frame{
  overflow: hidden;
  background-color: white;
  position: relative;
  top: 0;
  right: 0;
}
.x-pink{
  height: calc(50% + 25px);
}
// include bootstrap for change primary
@import "node_modules/bootstrap/scss/bootstrap";
.x-dark{
  z-index: 5;
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}