$primary:background: #E75336;
;

#header {
  height: 114px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
// include bootstrap for change primary
@import "node_modules/bootstrap/scss/bootstrap";