$primary: #E75336; // changement de la couleur primaire pour être en accord avec la charte graphique
;
.btn{
  color: #FFFFFF!important;
  border-radius: 30px!important;
}
#contact-link{
  padding-right: 24px;
}
a {
    color: inherit!important;
    text-decoration: none!important;
}
#header {
  height: 114px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.underline {
  display: block;
  position: relative;
}
// include bootstrap for change primary
@import "node_modules/bootstrap/scss/bootstrap";