$primary: #E75336; // changement de la couleur primaire pour être en accord avec la charte graphique
;
.btn{
  color: #FFFFFF!important;
  border-radius: 30px!important;
}
#contact-link{
  padding-right: 24px;
}
a {
    color: inherit!important;
    text-decoration: none!important;
}
#header {
  height: 114px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.header-link{
  position: relative;
}
.underline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    left: 0;
    height: 2px!important;
    width: 0;
    background-color: #E75336;
}
// include bootstrap for change primary
@import "node_modules/bootstrap/scss/bootstrap";