//Header
.underline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
  height: calc(1px + 0.6vw);
  background-color: red;
}
body {
  background-color: black !important;
}
